h1,h2,h3,h4,h5,h6,p,div,a,li,input{
	font-family: sans-serif;
}

//section film
.section-film{
	.row{
		border: 1px solid $cleargrey;
		border-radius: 10px;
		padding: 15px;
		.card{
			border:none;
			img{
				cursor: pointer;
			}
			.card-body{
				h5{
					cursor: pointer;
				}
			}
		}
		.modal{
			.modal-dialog{
				.modal-header{
					background-color: $red;
				}
				.modal-content{
					.modal-body{
						p{
							margin-top:15px;
							line-height: 1.2em;
						}
						ul{
							margin-top: 15px;
							li{
								margin: 10px 0;
							}
						}
					}
				}
			}
		}
	}
}