h1,h2,h3,h4,h5,h6,p,div,a,li,input{
	font-family: sans-serif;
}

//section film
.card-img-top{
	max-height: 216px;
	@media (max-width: 991.98px){
		max-height: 261px;
	}
	@media (max-width: 767.98px){
		max-height: 330px;
	}
}
.container{
	padding-left: 0;
	padding-right: 0;
}
.section-film{
	@media (max-width: 991.98px){
		padding: 0 20px 0 35px;
	}
	.row{
		border: 1px solid $cleargrey;
		border-radius: 10px;
		padding: 15px;
		.card{
			border:none;
			img{
				cursor: pointer;
			}
			.card-body{
				h5{
					cursor: pointer;
				}
			}
		}
		.modal{
			.modal-dialog{
				.modal-content{
					.modal-header{
						background-color: $red;
					}
					.modal-body{
						p{
							margin-top:15px;
							line-height: 1.2em;
						}
						ul{
							margin-top: 15px;
							li{
								margin: 10px 0;
							}
						}
					}
				}
			}
		}
	}
}

.featured-movies{
	margin-top: 30px;
	.row{
		border: none;
		margin-bottom: 10px;
		.card{
			border:none;
			img{
				cursor: pointer;
			}
			.card-body{
				h5{
					cursor: pointer;
				}
			}
		}
		.modal{
			.modal-dialog{
				.modal-content{
					.modal-header{
						background-color: $red;
					}
					.modal-body{
						p{
							margin-top:15px;
							line-height: 1.2em;
						}
						ul{
							margin-top: 15px;
							li{
								margin: 10px 0;
							}
						}
					}
				}
			}
		}
		h2{
			text-transform: uppercase;
			font-size: 1.4em;
			transform: translateX(-50px);
			@media (max-width: 991.98px){
				transform: translateX(-20px);
			}
			span{
				color: $red;
				margin-right: 10px;
			}
		}
		.plus, .plus-s{
			background-color: $red;
			padding: 10px 15px;
			color: white;
			border:none;
			margin-top: 15px;
			display: block!important;
		}
	}
	.tri-movies{
		margin: 15px 0;
		.wrapper{
			ul{
				flex-wrap: wrap;
				li{
					padding: 10px 15px;
					color: black;
					background-color: $cleargrey;
					border:none;
					cursor: pointer;
					margin-right: 10px;
					@media (max-width: 991.98px){
						margin-bottom: 15px;
					}					
				}
				li.active{
					color: white;
					background-color: $red;
				}
			}
		}
	}
}

.featured-movies{
	@media (max-width: 991.98px){
		padding: 0 20px 0 35px;
	}
}