@import 'variables';

footer{
    background-color: $white;
    font-family: sans-serif;
       .container{
        padding-left: 0;
        padding-right: 0;
    }
    button{
        color:$white;
        background-color:$lightblack;
        border: none;
    }
    .contactUs{
        background-color:$white;
        margin-top: 30px;
        #contact{
            margin-top: 50px;
        }
        input{
            color:blue;
        }
        .form-control::placeholder { 
            
            opacity: 1; 
            visibility: visible;
        }
        .row{
            h2{
	    		text-transform: uppercase;
                font-size: 1.4em;
                transform: translateX(-50px);
			    span{
				    color: $red;
				    margin-right: 10px;
                }
            }
        }
        .box{
            position: relative;
            background-color: $white;
            display: none;
        }
        .XLogin{
            right:10px;
            border-radius: 5px;
            border: 1px solid white;
            background-color: rgb(233, 53, 53);
            color: white;
            padding: 5px 5px;
            
            position: absolute;
            z-index: 99999;
        }
        button{
            background-color: $red;
            color:$white;
            border:none;
        }
        button:hover{
            background-color: $red;
            color:$white;
        }
    }
    .subscribe{
        background-color:$black;
        margin-top: -80px;
        padding-top: 100px;
        h4{
            color: $red;
            font-size: 1.4em;
        }
        button{
            background-color: $red;
            color:$white;
            border:none;
           
        }
        button:hover{
            background-color: $red;
            color:$white;
        }
    }
    .release{
        background-color:$black;
        h3{
            color: $white;
            border-bottom: 1px solid $darkgrey;
            padding: 0px;
            margin: 0px;
            padding-bottom: 5px;
            span{
                color:$red;
            }
        }
        img{
            margin: 5px;
            #6film{
                display:block;
                width: 100%;
                    };

        }
        p{
            margin:5px;
            margin-top: 25px;
        }
        .connectUs{
            hr{
                color: $cleargrey;
                margin:5px; 
            }
            h3{
                color: $white;
                border-bottom: none;
                padding: 5px;
                margin: 5px;
            }&:nth-child(0n+2){
                display: block;
            }
            #arrow{
                display: block;
                position: fixed;
                padding: 0;
                height: inherit;
                width: inherit;
                margin-right: 2vh;
                background-color:$white;
                color:$black;
                border-radius: 50%;
                border: 0.4vh solid $red;
                opacity: 1;
                bottom : 10px;
                right: -110px;
                }
            #arrow:hover{
                cursor: pointer;
            }
            .otherI{
                border: 1px solid $white;
                color: $white;
                padding: 5px;
                margin-bottom: 30px;
            }
        }
    }
}