@import 'reset';
@import 'variables';

@import 'caroline';


//couleurs

@import 'caroline';
$red:#FE4240;
$black:#0D0D0D;
$darkgrey:#4C5155;
$cleargrey:#F1EFF0;
$white:#FFFFFF;
$twitter:#1A9FEC;
$facebook:#3E5F94;
$pinkicon:#E84987;
$google:#E88B8D;

@import 'justine';
