@import 'reset';
@import 'variables';


//couleurs

@import 'caroline';

@import 'justine';
@import 'raphael';

@import 'BoxCookies';
@import 'LightBox';
@import 'BtnSocial';
@import 'MenuLoginRegister';
@import 'ShopMovies';

.row{
    border: none;
    h2{
        text-transform: uppercase;
        font-size: 1.4em;
        transform: translateX(-50px);
        span{
            color: $red;
            margin-right: 10px;
        }
    }
}