$red:#FE4240;
.ContentShopMovies{

    .ContentCarteVideo{
        display: flex;
        margin-top: 50px;
        margin-left: -50px;
        margin-right: -50px;
    .ContentFirstShop{
        display: flex;
        flex-wrap: wrap;
    }
    .ContentSecondShop{
        height: auto;
        .ContentVideoShop{
            height: 70%;
            padding: 0;
            .VideoShop{
                width: 100%;
                height: 100%;
            }
        }
        .TxtShop{
            
            background: black;
            height: 30%;
            padding: 0;
            .ContentTxt{
                height: 100%;
            }
            h3{
                color: $red;
                padding-bottom: 10px;
                
            }
            .SousTitre{
                display: flex;
                align-items: center;
                justify-content: space-between;
                h4{
                    color: $red;
                    padding-top: 5px;
                    width: (100/4)*1%;
                }
                .ColorRed{
                    color: $red;
                }
                .ResumeVideo{
                    width: (100/1.5)*1%;
                    color: white;
                    font-size: 0.7em;
                    text-align: justify;
                    padding-bottom: 10px;
                }
            }
        }
    }
}
}