html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.bg {
  background-color: transparent; }

.onglet {
  background-color: #4C5155;
  color: white;
  border: none; }
  .onglet:hover {
    background-color: #FE4240; }

.allezcine {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3.3em;
  font-weight: bold;
  margin-top: 0.3em;
  margin-left: 0.7em; }

.contact {
  color: white; }

.home {
  color: #FE4240; }

body {
  font-family: sans-serif; }

.search {
  border-radius: 30px;
  background-color: #4C5155;
  border: none;
  opacity: 0.7;
  filter: alpha(opacity=70); }

.form-control {
  color: white; }

.home {
  color: #FE4240 !important;
  margin-left: 3em;
  margin-right: 1em; }

.contact {
  margin-left: 6em; }

.letterred {
  color: #FE4240; }

.container-fluid {
  padding: 0; }

.navbar {
  z-index: 10; }

.buttonnavbar {
  margin-left: 0.2em;
  opacity: 0.7;
  filter: alpha(opacity=80); }

.fa-search {
  position: absolute; }

.fa {
  right: 2%; }

.toup {
  margin-top: -6em; }

.jumbotron {
  padding: 0;
  margin-bottom: 0 !important; }

.divjumbo {
  z-index: 10;
  text-align: center;
  top: 40%;
  left: 28%; }

.txtjumbo1 {
  color: white;
  margin-bottom: 0.2em;
  font-weight: bold; }

.txtjumbo2 {
  color: #F1EFF0;
  margin-bottom: 0.8em;
  font-family: 'Julius Sans One';
  margin-top: 1em;
  font-size: 1em; }

.carousel-item img {
  -webkit-filter: brightness(50%);
  filter: brightness(50%); }

.active {
  background-color: #FE4240 !important; }

.activecarou {
  margin-bottom: 10em; }

.btn-default {
  background-color: #FE4240;
  color: white;
  border-radius: 0; }
  .btn-default:hover {
    color: white;
    background-color: #6e0000; }

@media (min-width: 300px) and (max-width: 426px) {
  .txtjumbo1 {
    margin-bottom: 0em;
    font-weight: none;
    font-size: 0.8em;
    margin-top: 2em; }
  .txtjumbo2 {
    margin-bottom: 2em;
    margin-top: 3em;
    font-size: 0.2em; }
  .allezcine {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight: none;
    margin-top: 0.1em;
    margin-left: 0.7em; }
  .btncarou {
    display: none; }
  .carouselExampleIndicators {
    display: none; }
  .activecarou {
    margin-bottom: 0em; }
  .home {
    margin-left: 0em;
    margin-right: 0em; }
  .contact {
    color: #FE4240 !important;
    margin-left: 0em; }
  .search {
    display: none; }
  .bg {
    background-color: black; }
  .toup {
    margin-top: 0em; }
  .caroussel-item {
    height: 400px; }
  .carousel-inner {
    height: 400px; }
    .carousel-inner img {
      height: 400px;
      -o-object-fit: cover;
      object-fit: cover; } }

@media (min-width: 769px) and (max-width: 1024px) {
  .buttonnavbar {
    margin-left: 0em; }
  .contact {
    margin-left: 0em; }
  .allezcine {
    margin-top: 0em;
    margin-left: 0em;
    margin-right: 0em;
    font-size: 3em; }
  .home {
    margin-left: 0em;
    margin-right: 0em; }
  .activecarou {
    margin-bottom: 0em; }
  .divjumbo {
    top: 40%;
    left: 18%; } }

@media (min-width: 427px) and (max-width: 768px) {
  .txtjumbo1 {
    margin-bottom: 0em;
    font-weight: none;
    font-size: 2em;
    margin-top: 0em; }
  .txtjumbo2 {
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 1em; }
  .activecarou {
    margin-bottom: 0em; }
  .buttonnavbar {
    margin-left: 0em; }
  .contact {
    margin-left: 0em; }
  .allezcine {
    margin-top: 0em;
    margin-left: 0em;
    margin-right: 0em;
    font-size: 2em; }
  .home {
    margin-left: 0em;
    margin-right: 0em; }
  .activecarou {
    margin-bottom: 0em; }
  .divjumbo {
    top: 40%;
    left: 25%; }
  .search {
    position: absolute;
    left: 10px;
    bottom: -30px; }
  .fa-search {
    position: absolute; }
  .fa {
    left: 200px;
    bottom: -17px; }
  .bg {
    background-color: black; }
  .toup {
    margin-top: 0em; } }

h1, h2, h3, h4, h5, h6, p, div, a, li, input {
  font-family: sans-serif; }

.card-img-top {
  max-height: 216px; }
  @media (max-width: 991.98px) {
    .card-img-top {
      max-height: 261px; } }
  @media (max-width: 767.98px) {
    .card-img-top {
      max-height: 330px; } }

.container {
  padding-left: 0;
  padding-right: 0; }

@media (max-width: 991.98px) {
  .section-film {
    padding: 0 20px 0 35px; } }

.section-film .row {
  border: 1px solid #F1EFF0;
  border-radius: 10px;
  padding: 15px; }
  .section-film .row .card {
    border: none; }
    .section-film .row .card img {
      cursor: pointer; }
    .section-film .row .card .card-body h5 {
      cursor: pointer; }
  .section-film .row .modal .modal-dialog .modal-content .modal-header {
    background-color: #FE4240; }
  .section-film .row .modal .modal-dialog .modal-content .modal-body p {
    margin-top: 15px;
    line-height: 1.2em; }
  .section-film .row .modal .modal-dialog .modal-content .modal-body ul {
    margin-top: 15px; }
    .section-film .row .modal .modal-dialog .modal-content .modal-body ul li {
      margin: 10px 0; }

.featured-movies {
  margin-top: 30px; }
  .featured-movies .row {
    border: none;
    margin-bottom: 10px; }
    .featured-movies .row .card {
      border: none; }
      .featured-movies .row .card img {
        cursor: pointer; }
      .featured-movies .row .card .card-body h5 {
        cursor: pointer; }
    .featured-movies .row h2 {
      text-transform: uppercase;
      font-size: 1.4em;
      -webkit-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
      transform: translateX(-50px); }
      @media (max-width: 991.98px) {
        .featured-movies .row h2 {
          -webkit-transform: translateX(-20px);
          -ms-transform: translateX(-20px);
          transform: translateX(-20px); } }
      .featured-movies .row h2 span {
        color: #FE4240;
        margin-right: 10px; }
    .featured-movies .row .plus, .featured-movies .row .plus-s {
      background-color: #FE4240;
      padding: 10px 15px;
      color: white;
      border: none;
      margin-top: 15px;
      display: block !important; }
  .featured-movies .tri-movies {
    margin: 15px 0; }
    .featured-movies .tri-movies .wrapper ul {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .featured-movies .tri-movies .wrapper ul li {
        padding: 10px 15px;
        color: black;
        background-color: #F1EFF0;
        border: none;
        cursor: pointer;
        margin-right: 10px; }
        @media (max-width: 991.98px) {
          .featured-movies .tri-movies .wrapper ul li {
            margin-bottom: 15px; } }
      .featured-movies .tri-movies .wrapper ul li.active {
        color: white;
        background-color: #FE4240; }

@media (max-width: 991.98px) {
  .featured-movies {
    padding: 0 20px 0 35px; } }

footer {
  background-color: #FFFFFF;
  font-family: sans-serif;
  width: inherit; }
  footer .container {
    padding-left: 0;
    padding-right: 0; }
  footer button {
    color: #FFFFFF;
    background-color: #252727;
    border: none; }
  footer .contactUs {
    background-color: #FFFFFF;
    margin-top: 30px; }
    footer .contactUs #contact {
      margin-top: 50px; }
    footer .contactUs input {
      color: blue; }
    footer .contactUs .form-control::-webkit-input-placeholder {
      opacity: 1;
      visibility: visible; }
    footer .contactUs .form-control:-ms-input-placeholder {
      opacity: 1;
      visibility: visible; }
    footer .contactUs .form-control::-ms-input-placeholder {
      opacity: 1;
      visibility: visible; }
    footer .contactUs .form-control::placeholder {
      opacity: 1;
      visibility: visible; }
    footer .contactUs .row h2 {
      text-transform: uppercase;
      font-size: 1.4em;
      -webkit-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
      transform: translateX(-50px); }
      footer .contactUs .row h2 span {
        color: #FE4240;
        margin-right: 10px; }
    footer .contactUs .box {
      position: relative;
      background-color: #FFFFFF;
      display: none; }
    footer .contactUs .XLogin {
      right: 10px;
      border-radius: 5px;
      border: 1px solid white;
      background-color: #e93535;
      color: white;
      padding: 5px 5px;
      position: absolute;
      z-index: 99999; }
    footer .contactUs button {
      background-color: #FE4240;
      color: #FFFFFF;
      border: none; }
    footer .contactUs button:hover {
      background-color: #FE4240;
      color: #FFFFFF; }
  footer .subscribe {
    background-color: #0D0D0D;
    margin-top: -80px;
    padding-top: 100px; }
    footer .subscribe h4 {
      color: #FE4240;
      font-size: 1.4em; }
    footer .subscribe button {
      background-color: #FE4240;
      color: #FFFFFF;
      border: none; }
    footer .subscribe button:hover {
      background-color: #FE4240;
      color: #FFFFFF; }
  footer .release {
    background-color: #0D0D0D; }
    footer .release h3 {
      color: #FFFFFF;
      border-bottom: 1px solid #4C5155;
      padding: 0px;
      margin: 0px;
      padding-bottom: 5px; }
      footer .release h3 span {
        color: #FE4240; }
    footer .release img {
      margin: 5px; }
      footer .release img #6film {
        display: block;
        max-width: 100%;
        height: auto; }
    footer .release p {
      margin: 5px;
      margin-top: 25px; }
    footer .release .connectUs hr {
      color: #F1EFF0;
      margin: 5px; }
    footer .release .connectUs h3 {
      color: #FFFFFF;
      border-bottom: none;
      padding: 5px;
      margin: 5px; }
    footer .release .connectUs:nth-child(0n+2) {
      display: block; }
    footer .release .connectUs #arrow {
      display: block;
      position: fixed;
      padding: 0;
      height: inherit;
      width: inherit;
      margin-right: 2vh;
      background-color: #FFFFFF;
      color: #0D0D0D;
      border-radius: 50%;
      border: 0.4vh solid #FE4240;
      opacity: 1;
      bottom: 10px;
      right: -110px; }
    footer .release .connectUs #arrow:hover {
      cursor: pointer; }
    footer .release .connectUs .otherI {
      border: 1px solid #FFFFFF;
      color: #FFFFFF;
      padding: 5px;
      margin-bottom: 30px; }

.ContentBox {
  top: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: auto;
  background-color: #9b9b9b;
  border-radius: 20px;
  padding: 10px 10px;
  position: fixed;
  margin-left: 30%; }
  .ContentBox .TextBtn {
    text-align: center;
    margin: 0 10px;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }
  .ContentBox .ContentBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-top: 20px; }
    .ContentBox .ContentBtn .Ok {
      padding: 10px 30px;
      border-radius: 15px;
      background: #4797e5;
      color: white;
      font-size: 1.2em;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

.ContentForm {
  z-index: 999;
  background-color: #F1EFF0;
  border-radius: 50px 15px;
  position: absolute;
  top: 100px;
  height: auto;
  padding-bottom: 50px;
  -webkit-box-shadow: 10px 10px 10px grey;
  box-shadow: 10px 10px 10px grey;
  display: none;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .ContentForm .EnteteLogin {
    height: 50%;
    position: relative;
    padding-top: 30px; }
    .ContentForm .EnteteLogin .ImgLogin {
      margin-left: 35%;
      background-color: #fe3f46;
      border-radius: 50%;
      width: 200px;
      height: 200px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .ContentForm .EnteteLogin .ImgLogin i {
        font-size: 8em;
        color: white; }
    .ContentForm .EnteteLogin .XLogin {
      right: 10px;
      border-radius: 5px;
      border: 1px solid white;
      background-color: #e93535;
      color: white;
      padding: 5px 5px;
      top: 10px;
      position: absolute; }
  .ContentForm .FormLogin {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: auto; }
    .ContentForm .FormLogin .TitleId {
      margin-bottom: 10px;
      font-size: 1.5em;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }
    .ContentForm .FormLogin .TitlePassword {
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 1.5em;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }
    .ContentForm .FormLogin .ContentBtnLogin {
      margin-top: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      .ContentForm .FormLogin .ContentBtnLogin .LoginBtn {
        background-color: #4aaf5d;
        width: 40%;
        height: 60px;
        color: white;
        border-radius: 10px; }
        .ContentForm .FormLogin .ContentBtnLogin .LoginBtn:hover {
          opacity: 0.8; }
      .ContentForm .FormLogin .ContentBtnLogin .CreateBtn {
        width: 40%;
        height: 60px;
        border-radius: 10px; }
    .ContentForm .FormLogin .SecondContentBtnLogin {
      margin-top: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .ContentForm .FormLogin .Id {
      height: 30px; }
    .ContentForm .FormLogin .Password {
      height: 30px; }
    .ContentForm .FormLogin .StayConnectBtn {
      height: 30px;
      border-radius: 10px; }

.ContentFormRegister {
  z-index: 999;
  background-color: #F1EFF0;
  border-radius: 50px 15px;
  position: absolute;
  top: 100px;
  height: auto;
  padding-bottom: 50px;
  -webkit-box-shadow: 10px 10px 10px grey;
  box-shadow: 10px 10px 10px grey;
  display: none;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .ContentFormRegister .XRegister {
    right: 10px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #e93535;
    color: white;
    padding: 5px 5px;
    top: 10px;
    position: absolute; }
  .ContentFormRegister .FormRegister {
    padding-top: 20px;
    width: 90%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .ContentFormRegister .BtnRegister {
    margin-top: 30px;
    background-color: #4aaf5d;
    width: 100%;
    padding: 20px;
    color: white;
    border-radius: 10px; }
    .ContentFormRegister .BtnRegister:hover {
      opacity: 0.8; }
  .ContentFormRegister .NameInput {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.3em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }
  .ContentFormRegister .InputName {
    margin-bottom: 20px;
    height: 30px; }

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s; }

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -webkit-transform: scale(1), translateX(-50%);
    transform: scale(1), translateX(-50%); } }

@keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -webkit-transform: scale(1), translateX(-50%);
    transform: scale(1), translateX(-50%); } }

.ContentSocial {
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  top: 250px;
  position: fixed; }
  .ContentSocial .TitleBtnSocial {
    color: white;
    margin-right: 40px;
    margin-top: 4px;
    font-size: 1em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }
  .ContentSocial .AllBtn {
    padding: 10px 10px;
    width: 200px;
    border-radius: 40px;
    -webkit-transform: translateX(-160px);
    -ms-transform: translateX(-160px);
    transform: translateX(-160px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-decoration: none;
    margin: 1px 1px; }
    .ContentSocial .AllBtn:hover {
      -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
      transform: translateX(-20px);
      -webkit-transition: -webkit-transform 0.5s ease;
      transition: -webkit-transform 0.5s ease;
      -o-transition: transform 0.5s ease;
      transition: transform 0.5s ease;
      transition: transform 0.5s ease, -webkit-transform 0.5s ease; }
  .ContentSocial .Twitter {
    background: #23a1e4; }
  .ContentSocial .Facebook {
    background: #40618f; }
    .ContentSocial .Facebook i {
      padding: 5px 7px; }
  .ContentSocial .Dribble {
    background: #e54f88; }
  .ContentSocial .Google {
    background: #de4c3c; }
  .ContentSocial i {
    font-size: 1em;
    padding: 5px 5px;
    border-radius: 40px;
    color: black;
    background-color: white; }

.BarreLoginRegister {
  background: #fe3f46;
  padding: 10px;
  color: white;
  font-family: sans-serif;
  font-size: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .BarreLoginRegister .ContentBtnLogin {
    margin-left: 15px; }
    .BarreLoginRegister .ContentBtnLogin button {
      background: black;
      color: white;
      padding: 7px 14px; }

.ContentShopMovies {
  width: 100%; }
  .ContentShopMovies .ContentFleche {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-right: -35px;
    margin-bottom: 5px; }
    .ContentShopMovies .ContentFleche .FlecheVideo {
      background: black;
      color: gray;
      border: 1px solid gray;
      padding: 5px 5px;
      margin-top: 50px;
      margin-left: 3px;
      right: 0; }
  .ContentShopMovies .Fleche {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .ContentShopMovies .Ensemble4Video {
    height: 600px;
    position: relative; }
  .ContentShopMovies .ContentCarteVideo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -50px;
    margin-right: -50px; }
    .ContentShopMovies .ContentCarteVideo .ContentFirstShop {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .ContentShopMovies .ContentCarteVideo .ContentSecondShop {
      padding: 0;
      position: absolute;
      display: none;
      height: 100%; }
      .ContentShopMovies .ContentCarteVideo .ContentSecondShop:nth-child(1) {
        display: block; }
      .ContentShopMovies .ContentCarteVideo .ContentSecondShop .ContentVideoShop {
        height: 70%;
        padding: 0; }
        .ContentShopMovies .ContentCarteVideo .ContentSecondShop .ContentVideoShop .VideoShop {
          width: 100%;
          height: 100%; }
      .ContentShopMovies .ContentCarteVideo .ContentSecondShop .TxtShop {
        background: black;
        height: 30%;
        padding: 0; }
        .ContentShopMovies .ContentCarteVideo .ContentSecondShop .TxtShop .ContentTxt {
          height: 100%; }
        .ContentShopMovies .ContentCarteVideo .ContentSecondShop .TxtShop h3 {
          color: #FE4240;
          padding-bottom: 10px; }
        .ContentShopMovies .ContentCarteVideo .ContentSecondShop .TxtShop .SousTitre {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between; }
          .ContentShopMovies .ContentCarteVideo .ContentSecondShop .TxtShop .SousTitre h4 {
            color: #FE4240;
            padding-top: 5px;
            width: 25%; }
          .ContentShopMovies .ContentCarteVideo .ContentSecondShop .TxtShop .SousTitre .ColorRed {
            color: #FE4240; }
          .ContentShopMovies .ContentCarteVideo .ContentSecondShop .TxtShop .SousTitre .ResumeVideo {
            width: 66.66667%;
            color: white;
            font-size: 0.7em;
            text-align: justify;
            padding-bottom: 10px; }

.animateVideo {
  -webkit-animation: translateVideo 0.6s;
  animation: translateVideo 0.6s; }

@-webkit-keyframes translateVideo {
  from {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }
  to {
    -webkit-transform: scale(1), translateX(0);
    transform: scale(1), translateX(0); } }

@keyframes translateVideo {
  from {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }
  to {
    -webkit-transform: scale(1), translateX(0);
    transform: scale(1), translateX(0); } }

.row {
  border: none; }
  .row h2 {
    text-transform: uppercase;
    font-size: 1.4em;
    -webkit-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    transform: translateX(-50px); }
    .row h2 span {
      color: #FE4240;
      margin-right: 10px; }
